<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.deskclock"
    android:versionCode="43"
    android:versionName="1.9.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="org.omnirom.deskclock.worldclock.permissions.WRITE_DATABASE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="25" />

    <application
        android:icon="@mipmap/ic_launcher_alarmclock_omni"
        android:label="@string/app_label_new"
        android:requiredForAllUsers="true"
        android:supportsRtl="true"
        android:theme="@style/DeskClock">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="org.omnirom.deskclock.provider.ClockProvider"
            android:authorities="org.omnirom.deskclock"
            android:exported="true" />

        <permission
            android:name="org.omnirom.deskclock.worldclock.permissions.WRITE_DATABASE"
            android:protectionLevel="normal" />

        <provider
            android:name="org.omnirom.deskclock.worldclock.db.DbCityProvider"
            android:authorities="org.omnirom.deskclock.worldclock.db"
            android:exported="true"
            android:writePermission="org.omnirom.deskclock.worldclock.permissions.WRITE_DATABASE" />

        <activity
            android:name="org.omnirom.deskclock.DeskClock"
            android:icon="@mipmap/ic_launcher_alarmclock_omni"
            android:label="@string/app_label_new"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name="DockClock"
            android:icon="@mipmap/ic_launcher_alarmclock_omni"
            android:label="@string/app_label_new"
            android:launchMode="singleTask"
            android:targetActivity="org.omnirom.deskclock.DeskClock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="org.omnirom.deskclock.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/settings"
            android:taskAffinity="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.omnirom.deskclock.worldclock.CitiesActivity"
            android:excludeFromRecents="true"
            android:label="@string/cities_activity_title"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.omnirom.deskclock.alarms.AlarmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/AlarmAlertFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="true"/>

        <activity
            android:name="org.omnirom.deskclock.ScreensaverActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/ScreensaverActivityTheme" />

        <receiver
            android:name="org.omnirom.deskclock.alarms.AlarmStateManager"
            android:exported="true"/>

        <service
            android:name="org.omnirom.deskclock.alarms.AlarmService"
            android:exported="false"/>

        <activity
            android:name="org.omnirom.deskclock.HandleApiCalls"
            android:excludeFromRecents="true"
            android:permission="com.android.alarm.permission.SET_ALARM"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.omnirom.deskclock.ACTION_SHOW_STOPWATCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_TIMER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="HandleSetAlarm"
            android:exported="true"
            android:targetActivity="org.omnirom.deskclock.HandleApiCalls"/>

        <receiver android:name="org.omnirom.deskclock.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="org.omnirom.alarmclock.CustomAnalogAppWidgetProvider"
            android:icon="@mipmap/ic_launcher_alarmclock_omni"
            android:label="@string/analog_gadget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_analog_appwidget" />
        </receiver>

        <receiver
            android:name="org.omnirom.alarmclock.CustomAppWidgetProvider"
            android:icon="@mipmap/ic_launcher_alarmclock_omni"
            android:label="@string/custom_gadget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
                <action android:name="org.omnirom.deskclock.worldclock.update" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_appwidget" />
        </receiver>

        <service
            android:name="org.omnirom.alarmclock.CustomAppWidgetProvider$ClockUpdateService"
            android:exported="false" />

        <service
            android:name="org.omnirom.alarmclock.CustomAnalogAppWidgetProvider$AnalogClockUpdateService"
            android:exported="false" />

        <service
            android:name="org.omnirom.alarmclock.DigitalAppWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name="org.omnirom.alarmclock.CustomAppWidgetConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="org.omnirom.alarmclock.CustomAnalogAppWidgetConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Dream (screensaver) implementation -->
        <service
            android:name="org.omnirom.deskclock.Screensaver"
            android:exported="true"
            android:label="@string/app_label_new"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_info" />
        </service>

        <!-- Settings activity for screensaver -->
        <activity
            android:name="org.omnirom.deskclock.ScreensaverSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/screensaver_settings"
            android:taskAffinity=""
            android:theme="@style/ScreensaverSettingsActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- This activity is basically like the TimerFragment in DeskClock
         but only during lock screen
         so that is only has the fired timers -->
        <activity
            android:name="org.omnirom.deskclock.timer.TimerAlertFullScreen"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/TimerAlertFullScreenTheme" />

        <service
            android:name="org.omnirom.deskclock.TimerRingService"
            android:description="@string/timer_ring_service_desc"
            android:exported="false">
            <intent-filter>
                <action android:name="org.omnirom.deskclock.TIMER_ALERT" />
            </intent-filter>
        </service>

        <receiver
            android:name="org.omnirom.deskclock.timer.TimerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="start_timer" />
                <action android:name="delete_timer" />
                <action android:name="times_up" />
                <action android:name="timer_stop" />
                <action android:name="timer_reset" />
                <action android:name="timer_done" />
                <action android:name="timer_update" />
                <action android:name="notif_in_use_show" />
                <action android:name="notif_in_use_cancel" />
                <action android:name="notif_times_up_stop" />
                <action android:name="notif_times_up_plus_one" />
                <action android:name="notif_times_up_show" />
                <action android:name="notif_times_up_cancel" />
                <action android:name="notif_delete_timer" />
                <action android:name="notif_toggle_state" />
                <action android:name="notif_reset_timer" />
                <action android:name="notif_reset_all_timer" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.omnirom.deskclock.stopwatch.StopwatchService"
            android:description="@string/stopwatch_service_desc"
            android:exported="false">
            <intent-filter>
                <action android:name="start_stopwatch" />
                <action android:name="lap_stopwatch" />
                <action android:name="stop_stopwatch" />
                <action android:name="reset_stopwatch" />
                <action android:name="share_stopwatch" />
            </intent-filter>
        </service>

        <!--<activity
            android:name="org.omnirom.deskclock.share.EditSharedAlarmsActivity"
            android:theme="@style/DeskClock"></activity>-->

        <activity
            android:name="org.omnirom.deskclock.BrowseActivity"
            android:launchMode="singleTop"
            android:label="@string/browse_activity_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <service
            android:name="org.omnirom.deskclock.AlarmTileService"
            android:icon="@drawable/ic_alarm_white"
            android:label="@string/tile_create_alarm"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>

</manifest>

